@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1;
	color: $deep-dark;
	background-color: $middle-grey;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
}

button,
a {
	cursor: pointer;
}

button:focus,
a:focus {
	outline: none;
}
